* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
}

ul {
    list-style: none;
    counter-reset: list-counter; /* Reset bộ đếm */
}
li {
    counter-increment: list-counter; /* Tăng bộ đếm */
}
li a::before {
    content: counter(list-counter) ". "; /* Thêm số thứ tự */
}

.header {
    background-color: black;
}

.nav {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.nav ul {
    list-style: none;
}

.nav li a::before {
    content: none; /* Không thêm số thứ tự */
}

.nav a {
    color: #fff;

}


h1 {
    font-size: 22px;
    color: red;
    font-weight: 600;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 20px;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 1.8;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.tutorial li {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8;
    color: rgb(16, 3, 76);
    padding-bottom: 20px;
}